@import "../../common/global.scss";

.dropdown {
  button {
    @include text-semibold-small;
    @include toolbar-gate-dropdown;

    &.roundedRightCorner {
      @include toolbar-gate-dropdown-rounded-right-corner;
    }

    img {
      margin-left: 6px;
      width: 10px;
      height: 10px;
      align-self: center;
    }

    &.selected {
      background: linear-gradient(180deg, #889CC4 0%, #F0F3F7 100%);
      border-bottom-right-radius: 0px;
      border-top-right-radius: 0px;
    }

    &:hover{
      background: linear-gradient(180deg, #C6CCD9 0%, #F2F5F9 100%);

    }
  }

  .dropdownList {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 140px;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    z-index: 2;
    .dropdownItem {
      display: flex;
      width: 126px;
      height: 31px;
      text-align: start;
      vertical-align: center;
      align-items: center;
      padding-left: 15px;
      font-family: 'lato';
      font-size: 12px;
      font-weight: 400;
      cursor: pointer;
      background-color: #f0f3f7;

      &:hover {
        background-color: #DEE2EA;
      }
      p {
        color: $black;
      }
    }
  }


}
