@import '../../common/global.scss';

.updatePassword {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    @include text-normal-roboto;
  }
}
