@import '../../common/global.scss';

.updatePassword {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    @include text-normal-roboto;
  }

  img {
    &.underlayImage {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 50vh;
      height: 60vh;
      color: #0000000D;
      z-index: 0;
      opacity: 1;
    }

  }
}
