@import '../../common/global.scss';

.about {
    width: 100%;
    height: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        @include text-normal-roboto;
    }
}
