@import "../../../common/global.scss";

.dropdownList {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 140px;
  font-family: lato, sans-serif;

  &.accountMenuDropdown {
    border-top: 1px solid #DEE2EA;
    width: 100%;
  }
}
