.savedFiles {
  display: flex;
  flex-direction: column;
  margin-right: 38px;
  height: calc(100% - 100px);
  width: 100%;
  h2 {
    align-self: flex-start;
    margin-left: 35px;
  }

  .prompt {
    align-self: flex-start;
    margin-left: 35px;
    text-align: start;
    p {
      &.warningMessage {
        color: red;
      }
    }
  }

  &.loadFilesView {
      margin-top: 25px;
      grid-row: 2;
      grid-column: 1 / span 2;
  }

  img {
    &.underlayImage {
      position: absolute;
      right: 0px;
      bottom: 0px;
      width: 50vh;
      height: 60vh;
      color: #0000000D;
      z-index: 0;
      opacity: 1;
    }
  }
}
