@import '../../common/global.scss';

.header {
  height: 83px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $smoke-gray;
  padding-left: 20px;

  .logo {
    display: flex;
    width: 60px;
    height: 60px;

    h1 {
      @include text-h1;
      margin-left: 5px;
      margin-top: 15px;
      line-height: 36px;
      color: $black;
    }
  }


  .menu {
    display: grid;
    padding: 10px;

    .status {
      display: flex;
      flex-direction: row;
      align-items: center;

       p {
         @include text-menu-button-small;
         margin-right: 5px;
         color: $dark-gray;

         &.statusLbl {
           @include text-menu-button-small-bold;
         }

       }

      button {
        @include text-menu-button-small;
        color: $dark-gray;
        padding: 0;
        border: none;
        background: none;

        &.info {
          text-decoration: underline;
          cursor: pointer;
        }
      }

      .connectionDot {
        height: 9px;
        width: 9px;
        background-color: #DF5D5D;
        border-radius: 50%;
        margin-right: 5px;
        &.connected {
          background-color: #51D96F;
        }
      }

    }

    .loginMenu {
      display: flex;
      align-items: center;

      img {
        height: 60%;
        margin-right: 5px;
      }

      button {
        &.loginLbl {
          color: $black;
          padding: 0;
          border: none;
          background: none;
          text-decoration: underline;
          cursor: pointer;
          @include text-menu-button-small;
        }
      }
    }

    .navButtons {
      @include text-nav-button;
      grid-column: 1 / span 2;
      display: flex;
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      margin: 0 40px 0 0;
      gap: 20px;
      flex-grow: 0;
      max-width: 100%;
      > a {
        color: $dark-gray;
        text-decoration: none;

        &.selected {
          @include text-nav-button-bold;
          color: $black;
        }
      }

    }
  }

}
