.qubit {
  width: 100%;
  position: absolute;
  line {
    stroke: #6076A0;
    stroke-width: 2;
    z-index: 1;
    position: relative;
    stroke-linecap: square;
  }

  .addQubitActionBtn {
  }


}

