.qubit {
  width: 100%;
  position: absolute;
  line {
    stroke: #6076A0;
    stroke-width: 2;
    z-index: 1;
    position: relative;
    stroke-linecap: square;
  }

  .qubitSelectedBoundingBox {
    stroke-width: 2;
    z-index: 2;
    stroke: #5C7DFF;
    border-radius: 4px;
    fill: transparent;
  }
  .addQubitActionBtn {
  }


}

