$black: #222225;
$ebony-clay : #222B3D;
$gunpowder-gray: #434359;
$alto-gray: #D7D7D7;
$athens-gray: linear-gradient(180deg, #F2F4F8 0%, #F8F8F9 100%);
$lilac-white: linear-gradient(180deg, #DADEE7 0%, #F7F8FC 100%);
$cornflower-blue: #6da6f2;
$silver: #C4C4C4;
$comet: #61617D;
