$black: #222225;
$dark-navy : #222B3D;
$dark-gray: #434359;
$light-gray: #D7D7D7;
$styled-gray: linear-gradient(180deg, #F2F4F8 0%, #F8F8F9 100%);
$smoke-gray: linear-gradient(180deg, #DADEE7 0%, #F7F8FC 100%);

$gray: #C4C4C4;
